<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <spring:url />-->
    <!--    <c:url/>-->
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1 th:text="${title}">Hello World</h1>
<p><a th:href="@{/create}">Create task</a></p>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Priority</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.priority}"></td>
    </tr>
    </tbody>
</table>
<footer>
    <p>Translation to <span th:text="${#locale}"></span>: <span th:text="#{msg_hello}"></span></p>
    <p>Current time: <span th:text="${time}"></span></p>
</footer>
</body>
</html>