<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Encoding</legend>
            <label>Password:
                <input type="text" name="password" th:value="${password}">
            </label>
            <input type="submit" />
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        </fieldset>
    </form>
    <div>
        <div>Original password: <span th:text="${password}"></span></div>
        <div>Hashed password: <span th:text="${encodedPassword}"></span></div>
    </div>

    <form th:action="@{/encoder/match}" method="post">
        <fieldset>
            <legend>Matcher</legend>
            <label>Raw password
                <input type="text" name="rawPassword" th:value="${password}">
            </label>
            <label>Raw password
                <input type="text" name="encodedPassword" th:value="${encodedPassword}">
            </label>
            <input type="submit" />
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        </fieldset>
    </form>
</body>
</html>