<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Protected page</h1>
<div>Hello <span th:text="${#authentication.principal.username}"></span></div>
</body>
</html>