<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org<div th:if="${matches}">
Matches
</div>">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p th:text="${rawPassword}"></p>
        <p th:text="${encodedPassword}"></p>
    </div>

</body>
</html>